<div class="card movieCard">
  <div class="card-header">
    <div class="bg-primary text-white headerTitle">
      <h5 class="card-title">{{ movie.title | removeNonEnglish | titlecase}}</h5>
      <div class="icon-buttons-container">
        <button class="btn icon-button" ngbTooltip="Edit" openDelay="800"
                tooltipClass="button-tooltip" placement="left"
                (click)="editMovieRecord()">
          <i class="fa fa-xs fa-edit text-warning"></i>
        </button>
        <button class="btn icon-button" ngbTooltip="Delete" openDelay="800"
                tooltipClass="button-tooltip" placement="left"
                (click)="deleteMovieRecord()">
          <i class="fa fa-xs fa-trash-alt text-warning"></i>
        </button>
      </div>
    </div>
    <div class="bg-secondary text-white headerDirector">
      <h6 class="card-subtitle ">by {{ movie.director}} </h6>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      Released in : {{movie.year}} <BR/>
      Length: {{movie.runtime}} <BR/>
      Genre: {{movie.genre}} <BR/>
    </p>
  </div>
</div>
