<div class="card movieCard">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">{{ movie.title | titlecase}}</h5>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">by {{ movie.director}} </h6>
    <p class="card-text">
      Released in : {{movie.year}} <BR/>
      Length: {{movie.runtime}} <BR/>
      Genre: {{movie.genre}} <BR/>
    </p>
    <a href="#" class="card-link" (click)="open()">Edit</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>
