.movieCard {
  box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .3);
  margin: 2vh 2vw;
  width: 250px;
  height: 300px;
}

.card-title, .card-subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.card-header {
  padding: unset;
}

.card-body {
  padding: 0.05rem .5rem;
  overflow-y: scroll;
}

.headerTitle, .headerDirector {
  padding: 1vh 1vw;
}

.headerTitle {
  height: 100px;
  padding-right: 30px;
}

.icon-buttons-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 10px;
}

.icon-button {
  width: 20px;
  height: 20px;
  padding-bottom: 15px;
}

.icon-button .fa:hover {
  color: yellow !important;
}

::ng-deep .button-tooltip .tooltip-inner {
  background-color: red;
  font-size: 125%;
}

::ng-deep .button-tooltip .arrow::before {
  border-left-color: red;
}
